target/
packages/tree-sitter-paradox/target/
packages/vscode-foch/node_modules/
packages/vscode-foch/bin/*/foch_lsp
packages/vscode-foch/bin/*/foch_lsp.exe
packages/vscode-foch/*.vsix
.direnv/
output/
